header {
  background-color: var(--bg-color-main);
  color: white;
  padding: 1rem 0;
}

.home-section {
  padding: 2rem;
  background: white;
  margin: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.home-section.interest {
  text-align: center;
  margin: 2rem 0;
}
.contact h2{
  text-align: center;
}

.interest img {
  width: 25%;
  max-width: 100px;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50%;
}

.contact-form {
  max-width: 600px;
  margin: 1rem auto;
  background: white;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contact-form input,
.contact-form textarea,
.contact-form button {
  width: 95%;
  padding: 0.8rem;
  margin: 0.5rem 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.contact-form button {
  background-color: var(--bg-color-main);
  color: white;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
}

.contact-form button:hover {
  background-color: #444;
}
